.holder {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.item {
    width: 100px;
    height: 70px;
    box-sizing: border-box;
}

.item:nth-child(1) {
    background-color: #23D0EA;
}

.item:nth-child(2) {
    background-color: #EF8956;
}

.item:nth-child(3) {
    background-color: #060A3D;
}

.item:nth-child(4) {
    background-color: #8E007E;
}

.item:nth-child(5) {
    background-color: #00BFB8;
}

.item:nth-child(6) {
    background-color: #060A3D;
}